# ML innlevering 2 - TMDB Box Office Prediction

DET VI SKAL PREDICTE ER REVENUE PÅ HVER AV ID-ENE ("try and predict their overall worldwide box office revenue")

During this project we will use the eight steps in Appendix B:
1. Look at the big picture.
2. Get the data.
3. Discover and visualize the data to gain insights.
4. Prepare the data for Machine Learning algorithms.
5. Select a model and train it.
6. Fine-tune your model.
7. Present your solution.
8. Launch, monitor, and maintain your system.

# Hei og velkommen

#### Get the data:

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import sklearn

In [30]:
#lists the files in the folder
import os
print(os.listdir("data"))

['test.csv', 'train.csv', 'sample_submission.csv']

In [31]:
#Reads in the csv-files and creates a dataframe using pandas

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
sampleSubmission = pd.read_csv('data/sample_submission.csv')

## Explore the data

In [32]:
train.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

Info gives a clean list of all the features in the train set. Most of the features are objects, except a few which are ints or floats. Info also contains info about the Non-Null numbers. Some features contains a smaller amount of Non-Null numbers, whoch means there are missing data. The column "belongs_to_collection" have a very small Non-Null so the feature probably have a lot of missing data. Lets go deeper:

The code underneath provides an overview of missing values in train. The missing values makes it harder to give good predictions, if it is not handled correctly.

In [34]:
print(train.isnull().sum())

id                          0
belongs_to_collection    2396
budget                      0
genres                      7
homepage                 2054
imdb_id                     0
original_language           0
original_title              0
overview                    8
popularity                  0
poster_path                 1
production_companies      156
production_countries       55
release_date                0
runtime                     2
spoken_languages           20
status                      0
tagline                   597
title                       0
Keywords                  276
cast                       13
crew                       16
revenue                     0
dtype: int64

Homepage are one of the features that has a lot of missing values. This feature is not seen as a important feature in order to predict revenue. Therefore this feature will be dropped.

In this first round we are dropping all the features that has missing values, and then we will keep the necessary ones and calculate the missing values

In [48]:
train.drop(['belongs_to_collection', 'genres', 'homepage',
            'overview', 'poster_path','production_companies',
            'production_countries','runtime', 'spoken_languages',
            'tagline','Keywords','cast', 'crew'],axis=1)


#train.drop(['homepage','imdb_id','belongs_to_collection',
 #           'genres','overview','production_companies',
  #          'production_countries','poster_path','spoken_languages',
   #         'tagline','Keywords','crew','cast'],axis=1)

,id,budget,original_language,original_title,popularity,release_date,runtime,status,title,revenue
0,1,14000000,en,Hot Tub Time Machine 2,6.575393,2/20/15,93.0,Released,Hot Tub Time Machine 2,12314651
1,2,40000000,en,The Princess Diaries 2: Royal Engagement,8.248895,8/6/04,113.0,Released,The Princess Diaries 2: Royal Engagement,95149435
2,3,3300000,en,Whiplash,64.299990,10/10/14,105.0,Released,Whiplash,13092000
3,4,1200000,hi,Kahaani,3.174936,3/9/12,122.0,Released,Kahaani,16000000
4,5,0,ko,마린보이,1.148070,2/5/09,118.0,Released,Marine Boy,3923970
...,...,...,...,...,...,...,...,...,...,...
2995,2996,0,en,Chasers,9.853270,4/22/94,102.0,Released,Chasers,1596687
2996,2997,0,sv,Vi är bäst!,3.727996,3/28/13,102.0,Released,We Are the Best!,180590
2997,2998,65000000,en,The Long Kiss Goodnight,14.482345,10/11/96,120.0,Released,The Long Kiss Goodnight,89456761
2998,2999,42000000,en,Along Came Polly,15.725542,1/16/04,90.0,Released,Along Came Polly,171963386
2999,3000,35000000,en,Abduction,10.512109,9/22/11,106.0,Released,Abduction,82087155

In [38]:
#for i, e in enumerate(train['belongs_to_collection'][:5]):
  #  print(i, e)

0 [{'id': 313576, 'name': 'Hot Tub Time Machine Collection', 'poster_path': '/iEhb00TGPucF0b4joM1ieyY026U.jpg', 'backdrop_path': '/noeTVcgpBiD48fDjFVic1Vz7ope.jpg'}]
1 [{'id': 107674, 'name': 'The Princess Diaries Collection', 'poster_path': '/wt5AMbxPTS4Kfjx7Fgm149qPfZl.jpg', 'backdrop_path': '/zSEtYD77pKRJlUPx34BJgUG9v1c.jpg'}]
2 nan
3 nan
4 nan

In [39]:
#train['belongs_to_collection'].apply(lambda x: len(x) if x != {} else 0).value_counts()

### Lets also understand the popularity of the genres

In [41]:
#for i, e in enumerate(train['genres'][:5]):
   # print(i, e)

0 [{'id': 35, 'name': 'Comedy'}]
1 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
2 [{'id': 18, 'name': 'Drama'}]
3 [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
4 [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

In [42]:
#print('Number of genres in films')
#train['genres'].apply(lambda x: len(x) if x != {} else 0).value_counts()

Number of genres in films

TypeError: object of type 'float' has no len()

In [40]:
#list_of_genres = list(train['genres'].apply(lambda x: [i['name'] for i in x] if x != {} else []).values)

TypeError: string indices must be integers

In [ ]:
#plt.figure(figsize = (12, 8))
#text = ' '.join([i for j in list_of_genres for i in j])
#wordcloud = WordCloud(max_font_size=None, background_color='white', collocations=False,
                      #width=1200, height=1000).generate(text)
#plt.imshow(wordcloud)
#plt.title('Top genres')
#plt.axis("off")
#plt.show()
# laga ett tankekart på en måte, der modellen framheva dei mest populære sjangrane. 
# Vil ikkje kjøre pga mangla list_of_genres fra kodelinja over.

In [ ]:
train.describe()

If std had been 1 and mean hade been 0, it would have been a perfect result already

### Test set

To split the train set and test set we use the train_test_split method, which will split the data set randomly in two parts.

In [ ]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(train, test_size=0.2, random_state=42)

In [ ]:
test.head()

In [ ]:
test.info()

In [ ]:
test.describe()

Observation: many NaN

In [ ]:
len(test)

No skal eg pushe.

# Handeling text

Most of the provided values are not numeric, therefore it is important to make all of the objects numeric

In [53]:
train["original_language"].value_counts()

en    2575
fr      78
ru      47
es      43
hi      42
ja      37
it      24
cn      20
ko      20
zh      19
de      18
ta      16
sv       8
pt       6
nl       6
fa       5
da       5
ro       4
hu       3
tr       3
pl       2
fi       2
te       2
no       2
ml       2
ur       1
bn       1
sr       1
vi       1
cs       1
mr       1
id       1
he       1
el       1
nb       1
ar       1
Name: original_language, dtype: int64

In [52]:
original_language_cat = train[["original_language"]]
original_language_cat.head(10)

  original_language
0                en
1                en
2                en
3                hi
4                ko
5                en
6                en
7                en
8                en
9                en

In order to compute the median for original_language, it is necessary to convert the category from text to number. In the following code, OrdinalEncoder is used to convert the text. And then OneHotEncoder is used to create an array.

In [57]:
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import OrdinalEncoder

In [58]:
ordinal_encoder = OrdinalEncoder()
original_language_cat_encoded = ordinal_encoder.fit_transform(original_language_cat)
original_language_cat_encoded[:10]

array([[ 7.],
       [ 7.],
       [ 7.],
       [13.],
       [18.],
       [ 7.],
       [ 7.],
       [ 7.],
       [ 7.],
       [ 7.]])

In [56]:
cat_encoder = OneHotEncoder()
original_language_cat_hot = cat_encoder.fit_transform(original_language_cat_encoded)
original_language_cat_hot
original_language_cat_hot.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

#### For original title

In [59]:
train["original_title"].value_counts()

Unknown                                    2
The Other Woman                            2
Anna Karenina                              2
Alone in the Dark                          2
The Women                                  2
                                          ..
Alvin and the Chipmunks: The Road Chip     1
Mute Witness                               1
And You Thought Your Parents Were Weird    1
The Ballad of Jack and Rose                1
Yes Man                                    1
Name: original_title, Length: 2975, dtype: int64

In [60]:
original_title_cat = train[["original_title"]]
original_title_cat.head(10)

                             original_title
0                    Hot Tub Time Machine 2
1  The Princess Diaries 2: Royal Engagement
2                                  Whiplash
3                                   Kahaani
4                                      마린보이
5    Pinocchio and the Emperor of the Night
6                            The Possession
7                              Control Room
8                    Muppet Treasure Island
9                             A Mighty Wind

In [61]:
original_title_cat_encoded = ordinal_encoder.fit_transform(original_title_cat)
original_title_cat_encoded[:10]

array([[1003.],
       [2429.],
       [2751.],
       [1138.],
       [2957.],
       [1626.],
       [2421.],
       [ 515.],
       [1447.],
       [  72.]])

In [74]:
original_title_cat_hot = cat_encoder.fit_transform(original_title_cat_encoded)
original_title_cat_hot
original_title_cat_hot.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

####  status

In [66]:
train["status"].value_counts()

Released    2996
Rumored        4
Name: status, dtype: int64

In [68]:
status_cat = train[["status"]]
status_cat.head(10)

     status
0  Released
1  Released
2  Released
3  Released
4  Released
5  Released
6  Released
7  Released
8  Released
9  Released

In [72]:
status_cat_encoded = ordinal_encoder.fit_transform(status_cat)
status_cat_encoded[:10]

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [73]:
status_cat_hot = cat_encoder.fit_transform(status_cat_encoded)
status_cat_hot
status_cat_hot.toarray()

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])